*{
    margin: 0;
    padding: 0;
    text-align: center;

}
#head{
    background-color: #081b31;
    height: 80px;
    text-align: center;
   line-height: 70px;
    font-size: 50px;
    color: white;
} 
.choice{
    height:180px;
    width: 180px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color:black ;
}
img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display:flex; 
    justify-content: center;
    align-items: center; 
    gap: 3rem;
    margin-top: 60px;
}
.choices:hover{
     opacity: 0,5;
     cursor: pointer;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 150px;
}
#user-score,
#computer-score{
     font-size: 4rem;
}
 #msg{
    background-color: #081b31;
    color: white;
    display: inline-block;
    /* height: 50px; */
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
 }